.input:focus {
    border: 2px solid #0059b8;
}

.input {
    width: 372px;
}

.inputWrapper {
}

.superInput {
    height: 30px;
    outline: none;
    border-radius: 5px;
}

.errorInput {
    border-color: #ff0000;
    outline: none;
    border-radius: 5px;
    height: 30px;

}

.errorInput:focus {
    border-color: #ff0000;


}

.error {
    color: #ff0000;
}
